@{ 
    ViewBag.Title = "Internal server error";
}

<div class="alert alert-danger mt-2">
    <h1>An occured while processing  your request. The support team is notified and we are working on the fix.</h1>
    <hr />
    <h5>please contact administrator khoa.nguyen@codeym.vn</h5>
</div>
<a asp-controller="Home" asp-action="index">Click here to navigate to home page</a>