@{
    ViewBag.Title = "Internal Server";
}

<div class="alert alert-danger mt-2">
    <h1>An occured while procesing you request. The support team is notified and we are working on the fix</h1>
    <hr />
    <h5>
        please contact administrator khoa.nguyen@codegym.vn
    </h5>
</div>
<a asp-controller="Home" asp-action="index" class="btn btn-outline-info" style="width:auto">Click here to navigate to home page</a>