@{
    ViewBag.Title = "Page not found";
}

<div class="alert alert-danger mt-2">
    <h1>Internal server error</h1>
    <hr />
    <h5>
        @ViewBag.ErrorMessage
    </h5>
</div>
<a asp-controller="Home" asp-action="index" class="btn btn-outline-info" style="width:auto">Click here to navigate to home page</a>